* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  utline: 1px solid black;
}
html{
  display: flex;
  flex-flow: column;
  justify-content: center; 
  align-items: center;
  height:100%;
  width: 100%;
  overflow: scroll;
  font-family: 'Trebuchet MS';
  font-size: 1rem;
  background: whitesmoke;
  }
main{
  width: 50rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start;
  padding: 1rem;
  background-color: hsl(207, 68%, 79%);
  gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem grey;
    }
h1, h2{
  text-align:right;
  font-size: 1rem;
  color:brown;
}
fieldset{
  padding: 1rem;
}
legend{
  font-weight: 800;
}
button{
  padding: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  background: whitesmoke;
}
button:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

